body {
    background-color: rgb(248, 40, 3);
}
:root {
    --rows: 0;
    --columns: 0;
    --color: grey;
}
#container {
    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
    float: center;
    height: 700px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.square {
    height: 100%;
    width: 100%;
    display: block;
    border: solid;
    background-color: lightgray;
}

.hoveredSquare {
    height: 100%;
    width: 100%;
    float: block;
    border: solid;
    background-color: var(--color);
}

button {
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

button:hover {
    background-color: darkgray;
    transform: scale(1.1);
}

#reset {
    float: left;
    position: absolute;
    left: 2%;
    top: 45%;
}

#rgb {
    float: right;
    position: absolute;
    right: 2%;
    top: 45%;
}